extends layout

block content
  h1= title
  p Enable 3G throttling in your developer tools (Network tab) and refresh the page. 

  div
    span(class='large')
      div(class='thumbnail loading' style='background-image:url("' + thumbnail + '")')
        img(class='image' src=baselineImageSrc)
        div(class='loader')
    span(class='large')
      div(class='thumbnail loading' style='background-image:url("' + thumbnail + '")')
        img(class='image' src=progressiveImageSrc)
        div(class='loader')
  div(style='display:none;')
    p(class='attribution') 
      | Photo By
      |
      a(href='https://unsplash.com/@huguesdb?utm_source=coreyshuman-image-progressive-loading-demo&utm_medium=referral') Hugues de BUYER-MIMEURE
      |
      | on
      |
      a(href='https://unsplash.com/?utm_source=coreyshuman-image-progressive-loading-demo&utm_medium=referral') Unsplash
