extends layout

block content
  h1= title
  p= message

  p
    a(href='/demo') Progressive Load Demo
  p
    a(href='/lazy') Lazy Load Demo
  p
    a(href='/compare') Image Resize Comparison
  
  form(method='POST' enctype='multipart/form-data')
    p
      label(for='imageupload') Upload Image 
      input(type='file', name='imageupload')
    p
      label(for='width') Width 
      input(type='number', name='width', value=20)
    p
      label(for='width') Quality % 
      select(name='quality')
        option 10
        option 20
        option 30
        option 40
        option(selected='selected') 50
        option 60
        option 70
        option 80
        option 90
        option 100
    p
      input(type='submit', name='submitForm', value='Convert')

